@model IEnumerable<ClubAsp.Models.GreenBean>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BinNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreenClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BinLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BinNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GreenClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BinLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
